SmartParking.Client/SmartParking/.vs/
SmartParking.Client/SmartParking/SmartParking/bin/
SmartParking.Client/SmartParking/SmartParking/obj/
SmartParking.Client/SmartParking/SmartParking.Assets/bin/
SmartParking.Client/SmartParking/SmartParking.Assets/obj/
