SmartParking.Client/SmartParking/.vs/
SmartParking.Client/SmartParking/SmartParking/bin/
SmartParking.Client/SmartParking/SmartParking/obj/
SmartParking.Client/SmartParking/SmartParking.Assets/bin/
SmartParking.Client/SmartParking/SmartParking.Assets/obj/
/SmartParking.Client/SmartParking/SmartParking.Client/bin/
/SmartParking.Client/SmartParking/SmartParking.Client/obj/
/SmartParking.Client/SmartParking/SmartParking.SystemModule/obj/
/SmartParking.Client/SmartParking/SmartParking.SystemModule/bin/
/.vs/
