SmartParking.Client/SmartParking/.vs/
SmartParking.Client/SmartParking/SmartParking/bin/
SmartParking.Client/SmartParking/SmartParking/obj/
SmartParking.Client/SmartParking/SmartParking.Assets/bin/
SmartParking.Client/SmartParking/SmartParking.Assets/obj/
/SmartParking.Client/SmartParking/SmartParking.Client/bin/
/SmartParking.Client/SmartParking/SmartParking.Client/obj/
/SmartParking.Client/SmartParking/SmartParking.SystemModule/obj/
/SmartParking.Client/SmartParking/SmartParking.SystemModule/bin/
/.vs/
/SmartParking.Client/SmartParking/SmartParking.Common/bin/
/SmartParking.Client/SmartParking/SmartParking.Common/obj/
/SmartParking.Vue/.vscode
/SmartParking.Vue/.husky
/SmartParking.Client/SmartParking/SmartParking.DashboardModule/bin/Debug/net9.0-windows7.0
/SmartParking.Client/SmartParking/SmartParking.DashboardModule/obj
